<p class="weather-app__city">{{city}}</p>
<p class="weather-app__current--description">{{weather.main}}</p>
<p class="weather-app__current--temperature">{{weather.temp}}</p>
<p class="weather-app__current--date">{{currentTime}}</p>
<div class="weather-app__current--today">
  <p class="weather-app__current--today-text">Today</p>
  <div class="weather-app__current--today-temp">
    <span class="weather-app__current--today-temp-min">{{weather.temp_min}}</span>
    <span class="weather-app__current--today-temp-max">{{weather.temp_max}}</span>
  </div>
</div>
<div class="swiper-container swiper__hourly">
  <ul class="weather-app__current--hourly swiper-wrapper">
    {{#each todayList}}
    <li class="weather-app__current--hourly-item swiper-slide">
      <p class="weather-app__current--hourly-item--time">{{this.time}}</p>
      <img src="{{this.image}}" alt="" class="weather-app__current--hourly-item--img">
      <p class="weather-app__current--hourly-item--temp">{{this.temp}}</p>
    </li>
    {{/each}}
  </ul>
</div>
<div class="swiper-container swiper__weekly">
  <ul class="weather-app__current--weekly swiper-wrapper">
    {{#each fiveDaysList}}
    <li class="weather-app__current--weekly-item swiper-slide">
      <p class="weather-app__current--weekly-item--time">{{this.time}}</p>
      <img src="{{this.image}}" alt="" class="weather-app__current--weekly-item--img">
      <p class="weather-app__current--weekly-item--temp">{{this.temp}}</p>
    </li>
    {{/each}}
  </ul>
</div>